.hero-section{
    background-image: var(--hero-bg);
   background-image:linear-gradient(rgba(28, 57, 80, 0.6), rgba(21, 60, 145, 0.6)),var(--hero-bg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
       
    
}
